{% extends 'base.html' %}
{% from 'bootstrap/pagination.html' import render_pagination %}
{% block style %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static',filename='css/bootstrap-table.min.css')}}">
<style>
    .panel-shadow {
        box-shadow: 8px 7px 4px 7px #555;
    }


    .all_radius {
        border-radius: 20px;
    }


    .a_top {
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }


    .a_bottom {
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
    }

    .dealed {
        background-color: green;
    }

    .deal {
        background-color: red;
    }
</style>
{% endblock %}

{% block content %}
<div class=" container">
    {% if results %}
    <div>
        <table id='table' data-toggle="table" data-height="560" data-show-columns="true" data-pagination="true"
            data-search="true" data-page-size='10' data-pagination-pre-text="下一页" data-pagination-next-text="上一页"
            data-search="true" data-search-on-enter-key="true">
            <thead>
                <tr>
                    <th>#</th>
                    <th data-field='校验代码'>校验代码</th>
                    <th data-field='规则描述'>规则描述</th>
                    <th data-field='规则级别'>规则级别</th>
                    <th data-field='表名'>表名</th>
                    <th data-field='表名中文'>表名中文</th>
                    <th data-field='规则分组'>规则分组</th>
                    <th data-field='校验结果'>校验结果</th>
                    <th data-field='起始日期'>起始日期</th>
                    <th data-field='结束时间'>结束时间</th>
                    <th data-field='机构代码'>机构代码</th>
                    <th data-field='处理进度'>处理进度</th>
                    <th data-field='处理备注'>处理备注</th>
                    <th data-field='处理人'>处理人</th>
                </tr>
            </thead>
            <tbody>
                {% for result in results %}
                <tr class="{% if result.dealstatus=='已完成' %} deal {% else %} nodeal {% endif %}">
                    <td>{{result.id}}</td>
                    <td><a href="{{url_for('task.edit_checkresult',check_id=result.id )}}">{{result.checkcode}}</a>
                    </td>
                    <td>{{result.checkitemname}}</td>
                    <td>{{result.checklevel}}</td>
                    <td>{{result.checktable}}</td>
                    <td>{{result.checktablename}}</td>
                    <td>{{result.checktableterm}}</td>
                    <td>{{result.checksucflag}}</td>
                    <td>{{result.dmbegdate}}</td>
                    <td>{{result.dmenddate}}</td>
                    <td>{{result.comcode}}</td>
                    <td>{{result.dealstatus}}</td>
                    <td>{{result.checkremark}}</td>
                    <td>{{result.username}}</td>

                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% endif %}
</div>
{% endblock %}
{% block scripts %}
{{super()}}
<script src="../static/js/popper.min.js"></script>
<script src="../static/js/bootstrap-table.min.js"></script>
{% endblock%}   