{% extends 'base.html' %}
{% from 'bootstrap/form.html' import render_form  %}
{% block title %}新条目{% endblock %}
{% block content %}
<div class=" col-md-8 col-md-offset-2">
    <div class="page-header" style="border-bottom-color:#999;text-align: center;">
        <h1>修改条目</h1>
    </div>
    <form class='form-horizontal' method="POST" action="{{url_for('task.edit_todo',todo_id=todo_id)}}">
        {{ todoform.csrf_token }}
        <div class="row">
            <div class=" col-sm-5" style="text-align: left;">
                {{ todoform.tlevel.label(class_='label label-primary') }}
                {% for level in todoform.tlevel %}
                <label class="radio-inline">
                    {{ level }}{{ level.label}}
                </label>
                {% endfor %}
            </div>
            <div class='col-sm-4' style="text-align: left;">
                {{ todoform.tstatus.label(class_='label label-primary') }}
                {% for status in todoform.tstatus %}
                <label class="radio-inline">
                    {{ status }}{{ status.label}}
                </label>
                {% endfor %}
            </div>
            <div class="col-sm-3" style="padding: 5px;">
                <label class=" label label-primary">完成度: </label>
                {{ todoform.tcompletion(class_=('form-control-sm'))}}
            </div>
        </div>
        <div class="progress">
            <div id='p_status' class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="60"
                aria-valuemin="0" aria-valuemax="100" style="min-width: 2em; width: {{ todoform.tcompletion.data }};">
                {{ todoform.tcompletion.data}}
            </div>
        </div>
        <hr style="border-color: black;">
        <div>
            {{todoform.tcontent(class_='form-control',rows='5')}}
        </div>
        <div class="col-sm-2 col-sm-offset-5">
            {{ todoform.submit(class_="btn btn-sm btn-primary")}}
        </div>
    </form>
</div>
<script>
    $('#tcompletion').change(function (e) {
        var statusval = $('#tcompletion').val()
        $('#p_status').css('width', statusval)
        $('#p_status').text(statusval)

        if (statusval == '100%') {
            $('#tstatus-1').attr('checked', 'checked')
        } else {
            $('#tstatus-0').attr('checked', 'checked')
            $('#tstatus-1').removeAttr('checked', 'checked')
        }
    });
    $('#tstatus-1').click(function () {
        $('#p_status').css('width', '100%')
        $('#p_status').text('100%')
        $('#tcompletion').get(0).selectedIndex = 3
    })
    // $('#tstatus-0').click(function(){
    //     $('#p_status').css('width','0%')
    //     $('#p_status').text('0%')
    //     $('#tcompletion').get(0).selectedIndex = 0
    // })
</script>
{% endblock %}