{% extends 'base.html' %}
{% from 'bootstrap/form.html' import render_form  %}
{% block title %}修改条目{% endblock %}
{% block style %}
{{ super() }}
<link rel='stylesheet' href="{{ url_for('static',filename='bootstrap-datepicker/css/bootstrap-datepicker3.min.css')}}"
    type="text/css">
{% endblock %}
{% block headscript %}
{{ super() }}
<script src="{{url_for('static',filename='bootstrap-datepicker/js/bootstrap-datepicker.min.js')}}"></script>
<script src="{{url_for('static',filename='bootstrap-datepicker/locales/bootstrap-datepicker.zh-CN.min.js')}}"></script>

{% endblock %}
{% block content %}
<div class=" col-md-8 col-md-offset-2">
    <div class="page-header" style="border-bottom-color:#999;text-align: center;">
        <h1>修改条目</h1>
    </div>
    <form class='form-horizontal' method="POST" action="{{url_for('task.edit_task',task_id=task_id)}}">
        {{ form.csrf_token }}
        <div class='form-group'>
            {{ form.date.label(class_='control-label col-sm-3') }}
            <div id="taskdate" class="input-group date col-sm-4">
                {{form.date(class_='form-control',readonly='true')}}
                <div class="input-group-addon">
                    <span class="glyphicon glyphicon-th"></span>
                </div>
            </div>

        </div>
        <div class='form-group'>
            {{ form.groupname.label(class_='control-label col-sm-3') }}
            <div class="col-sm-5 input-group">
                {{ form.groupname(class_='form-control') }}
            </div>
        </div>
        <div class='form-group'>
            {{ form.taskType1.label(class_='control-label col-sm-3') }}
            <div class="col-sm-5 input-group">
                {{ form.taskType1(class_='form-control') }}
            </div>
        </div>
        <div class='form-group'>
            {{ form.taskType2.label(class_='control-label col-sm-3') }}
            <div class="col-sm-5 input-group">
                {{ form.taskType2(class_='form-control') }}
            </div>
        </div>
        <div class="form-group">
            {{ form.taskName(class_='form-control',placeholder='任务名称',rows='3') }}
            {{ form.taskContent(class_='form-control',placeholder='任务详情',rows='5') }}
        </div>
        <div class="col-sm-2 col-sm-offset-5">
            {{ form.submit(class_="btn btn-lg btn-primary")}}
        </div>
    </form>
</div>
<script type="text/javascript">
    $('#taskdate').datepicker({
        format: 'yyyy-mm-dd',
        language: 'zh-CN',
        clearBtn: true,
        endDate: "0d",
        title: "任务时间",
        todayHighlight: true,
        keyboardNavigation: false,
        autoclose: true
    });
</script>
{% endblock %}