{% extends 'base.html' %}
{% from 'bootstrap/form.html' import render_form  %}
{% block title %}新条目{% endblock %}
{% block style %}
    <link href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.0/css/bootstrap-datepicker.standalone.min.css" rel="stylesheet">
{% endblock %}
{% block headscript %}
    {{ super() }}
    <script type="text/javascript">
        
        $('#date').datepicker({
            weekStart: 1,
            autoclose: true,
            daysOfWeekHighlighted: "0,6",
            format: "yyyy-mm-dd",
            language: "zh-CN"
        });
        </script>
{% endblock %}
{% block content %}
 <div class=" col-md-8 col-md-offset-2">
    <div class="page-header">
        <h1>新条目</h1>
    </div>
   <form method="POST" action="{{url_for('task.new_task')}}">
     {{ form.csrf_token }}
     {{ form.date.label(class_='sr-only') }}
     {{ form.date}}
     {{ form.groupname.label(class_='sr-only') }}
     {{ form.groupname }}
     {{ form.taskType1.label(class_='sr-only') }}
     {{ form.taskType1 }}
     {{ form.taskType2.label(class_='sr-only') }}
     {{ form.taskType2 }}
     {{ form.taskName.label(class_='sr-only') }}
     {{ form.taskName }}
     {{ form.taskContent.label(class_='sr-only') }}
     {{ form.taskContent }}
     {{ form.submit(class_="btn btn-lg btn-primary btn-block")}}
   </form>
</div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.0/js/bootstrap-datepicker.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.0/locales/bootstrap-datepicker.zh-CN.min.js"></script>
{% endblock %}