{% extends 'base.html' %}
{% from 'bootstrap/pagination.html' import render_pagination %}
{% block title %}讲者列表{% endblock %}
{% block style %}
{{ super() }}
<link rel='stylesheet' href="{{ url_for('static',filename='bootstrap-datepicker/css/bootstrap-datepicker3.min.css')}}">
<link rel="stylesheet" href="{{ url_for('static',filename='css/bootstrap-table.min.css')}}">
<link href="https://unpkg.com/jquery-resizable-columns@0.2.3/dist/jquery.resizableColumns.css" rel="stylesheet">
<style>
    .a_top {
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }
    .a_bottom {
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
    }
</style>
{% endblock %}
{% block headscript %}
{{ super() }}
<script src="{{url_for('static',filename='bootstrap-datepicker/js/bootstrap-datepicker.min.js')}}"></script>
<script src="{{url_for('static',filename='bootstrap-datepicker/locales/bootstrap-datepicker.zh-CN.min.js')}}"></script>
{% endblock%}

{% block content %}
<div class=" container">

    <div class="row">
        <table id='table'
            data-toggle="table" 
            data-height="580" 
            data-show-columns="true" 
            data-pagination="true"
            data-search="true" 
            data-page-size='15'
            data-locale="zh-CN"
            data-pagination-pre-text="下一页" 
            data-pagination-next-text="上一页"
            data-search-on-enter-kevby="true"
            data-show-export='true'
            data-resizable="true"
            data-show-fullscreen="true" 
            data-virtual-scroll='true'
            >
            <thead class="thead-dark" style="background-color: black; color: white;">
                <tr>
                    <th>#</th>
                    <th data-field='操作'>操作</th>
                    <th data-field='品牌'>品牌</th>
                    <th data-field='大区信息'>大区信息</th>
                    <th data-field='code'>code</th>
                    <th data-field='flag_1'>flag_1</th>
                    <th data-field='处理人'>处理人</th>
                    <th data-field='讲者名称'>讲者级别</th>
                    <th data-field='讲者级别'>讲者名称</th>
                    <th data-field='城市' >城市</th>
                    <th data-field='邮编'>邮编</th>
                    <th data-field='医院名称'>医院名称</th>
                    <th data-field='科室'>科室</th>
                    <th data-field='讲者2'>讲者2</th>
                    <th data-field='flag_2'>flag_2</th>
                    <th data-field='身份证号'>身份证号</th>
                    <th data-field='手机号'>手机号</th>
                    <th data-field='开户网点信息'>开户网点信息</th>
                    <th data-field='银行所在城市'>银行所在城市</th>
                    <th data-field='开户账号'>开户账号</th>
                    <th data-field='地址'>地址</th>
                    <th data-field='bankcode'>bankcode</th>
                </tr>
            </thead>
            <tbody>
                {% for s in speakers %}
                <tr>
                    <td>{{s.id}}</td>
                    <td>
                        <div class="input-group-btn">
                            <button type="button" style="border-radius: 20px;"
                                class="btn btn-sm btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                                aria-expanded="false">操作 <span class="caret"></span></button>
                            <ul class="dropdown-menu" style="padding: 0px; border-radius: 20px;">
                                <li><a class="a_top" style="padding-bottom: 3px; text-align: center;"
                                        href="{{url_for('task.edit_speaker',speaker_id=s.id)}}">修改</a></li>
                                <li><a class="a_bottom" style="text-align: center;"
                                        href="{{url_for('task.new_speaker')}}">新增</a></li>
                            </ul>
                        </div>
                    </td>
                    <td>{{s.brand}}</td>
                    <td>{{s.area}}</td>
                    <td>{{s.code}}</td>
                    <td>{{s.flag_1}}</td>
                    <td>{{s.username}}</td>
                    <td>{{s.speaker_name}}</td>
                    <td>{{s.speaker_level}}</td>
                    <td>{{s.city}}</td>
                    <td>{{s.zip_code}}</td>
                    <td>{{s.hospital_name}}</td>
                    <td>{{s.section_office}}</td>
                    <td>{{s.speaker_name2}}</td>
                    <td>{{s.flag_2}}</td>
                    <td>{{s.identify_number}}</td>
                    <td>{{s.mobile_phone}}</td>
                   
                    <td>{{s.bank_information}}</td>
                    <td>{{s.bank_city}}</td>
                    <td>{{s.account_code}}</td>
                    <td>{{s.address}}</td>
                    <td>{{s.bank_code}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
{% block scripts %}
{{super()}}
<script src="{{url_for('static',filename='js/tableExport.min.js')}}"></script>
<script src="{{url_for('static',filename='js/popper.min.js')}}"></script>
<script src="https://unpkg.com/jquery-resizable-columns@0.2.3/dist/jquery.resizableColumns.min.js"></script>
<script src="{{url_for('static',filename='js/bootstrap-table.min.js')}}"></script>
<script src="{{url_for('static',filename='js/bootstrap-table-locale-all.min.js')}}"></script>
<script src="{{url_for('static',filename='js/bootstrap-table-export.min.js')}}"></script>
<script src="https://unpkg.com/bootstrap-table@1.16.0/dist/extensions/resizable/bootstrap-table-resizable.min.js"></script>
{% endblock%}
