{% extends 'base.html' %}
{% from 'bootstrap/pagination.html' import render_pagination %}
{% block style %}
{{ super() }}
<style>
    .panel-shadow {
        box-shadow: 8px 7px 4px 7px #555;
    }


    .all_radius {
        border-radius: 20px;
    }


    .a_top {
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }


    .a_bottom {
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
    }
</style>
{% endblock %}
{% block headscript %}
{{ super() }}
<script src="{{url_for('static',filename='bootstrap-datepicker/js/bootstrap-datepicker.min.js')}}"></script>
<script src="{{url_for('static',filename='bootstrap-datepicker/locales/bootstrap-datepicker.zh-CN.min.js')}}"></script>
<script>
    $(function () {
        $('.panel.panel-default').mouseover(function () {
            $(this).addClass('panel-shadow')
        });
        $('.panel').mouseleave(function () {
            $(this).removeClass('panel-shadow')
        });
    });

</script>
{% endblock%}
{% block content %}
<div class=" container">
    {% if todoes %}
    <div class="page-footer" style="text-align: center;">
        {{render_pagination(pagination,align=right,prev='上一页',next='下一页')}}</div>
    {% endif %}
    <div class=" col-md-8 col-md-offset-2">
        <div class="row">
            <div class="col-md-3">
                <label class=" control-label">待办总数:<span class=" badge">{{pagination.total}}</span></label>
            </div>
        </div>
        <hr>
        {% for todo in todoes %}
        <div class=" panel panel-default" style="border-radius: 20px;">
             <div class="panel-heading a_top">
                <div class=" row">
                    <div class="col-sm-10">
                        <div>
                        作者:{{todo.username}} | 状态:{{ todo.tstatus}} | 级别:{{ todo.tlevel}}
                    </div>
                    <div>
                        进度：{{todo.tcompletion}}
                    </div>
                    </div>
                    <div class="input-group-btn">
                        <button type="button" style="border-radius: 20px;"
                            class="btn btn-sm btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">操作<span class="caret"></span></button>
                        <ul class="dropdown-menu" style="padding: 0px; border-radius: 20px;">
                            <li><a class="a_top" style="text-align: center;"
                                href="{{url_for('task.edit_todo',todo_id=todo.id)}}">修改</a></li>
                            <li><a class="a_bottom" style="text-align: center;"
                                    href="{{url_for('task.new_todo')}}">新增</a></li>
                        </ul>
                    </div>
                </div>

            </div>
            <div class="panel panel-body">
                <p>{{todo.tcontent}}</p>
            </div>

        </div>
        {% endfor %}
        {% if todoes %}
        <div class="page-footer" style="text-align: center;">
            {{render_pagination(pagination,align=right,prev='上一页',next='下一页')}}</div>
        {% endif %}
    </div>
</div>
<script type="text/javascript">
    $('#datestart,#dateend').datepicker({
        format: 'yyyy-mm-dd',
        language: 'zh-CN',
        clearBtn: true,
        endDate: "0d",
        title: "任务时间",
        todayHighlight: true,
        keyboardNavigation: false,
        autoclose: true
    });
</script>
{% endblock %}