<!DOCTYPE html>
<html lang="en">

<head>
    {% block head %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
    <title>{% block title %} {% endblock title %}</title>
    <link rel='icon' href="{{ url_for('static',filename='favicon.ico')}}">
    <link rel='stylesheet' href="{{ url_for('static',filename='bootstrap-3.3.7/css/bootstrap.min.css')}}"
        type="text/css">

    {% block style %}
    <style type='text/css'>
        .msgbtn {
            -webkit-border-radius: 20px;
            -moz-border-radius: 20px;
            background-color: black;
            border-radius: 10px;
            color: white;
            padding: 10px;
            text-align: center;
            box-shadow: 0 0 4px 0px black;
        }

        .a_top {
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;
        }


        .a_bottom {
            border-bottom-left-radius: 20px;
            border-bottom-right-radius: 20px;
        }
    </style>
    {% endblock style %}
    {% block headscript %}
    <script src="{{ url_for('static',filename='jquery/jquery1.12.4.min.js')}}"></script>
    {% endblock headscript %}
    {% endblock head %}
</head>

<body style="padding-top: 70px;">
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">稽核系统</a>
            </div>
            <div id="navbar" class=" nav navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class=" active"><a href="{{url_for('index')}}">主页</a></li>
                    <li class=" dropdown">
                        <a href="#" class=" dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                            aria-expanded="false">事项清单<span class=" caret"></span></a>
                        <ul class=" dropdown-menu" style="padding: 0px;border-radius: 20px;">
                            <li><a class="a_top" href='{{url_for('task.task_list')}}'>清单</a></li>
                            <li><a class="a_bottom" href='{{url_for('task.new_task')}}'>新增</a></li>
                        </ul>
                    </li>
                    <li class=" dropdown">
                        <a href="#" class=" dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                            aria-expanded="false">待办清单<span class=" caret"></span></a>
                        <ul class=" dropdown-menu" style="padding: 0px;border-radius: 20px;">
                            <li><a class="a_top" href='{{url_for('task.todo_list')}}'>清单</a></li>
                            <li><a class="a_bottom" href='{{url_for('task.new_todo')}}'>新增</a></li>
                        </ul>
                    </li>
                    <li><a href="{{url_for('task.checkresult_list')}}">校验处理</a></li>
                </ul>
                <ul class=" nav navbar-nav navbar-right">
                    <li><a href="{{ url_for('about')}}">关于</a></li>
                    {% if current_user.is_authenticated %}
                    <li><a href="{{ url_for('auth.logout')}}"><span class=" glyphicon glyphicon-log-out">登出</span></a>
                    </li>
                    <li><a href="#">欢迎回来:{{user.username}}</a></li>
                    {% else %}
                    <li><a href="{{ url_for('auth.login')}}"><span class=" glyphicon glyphicon-log-in">登录</span></a>
                    </li>
                    <li><a href="{{ url_for('auth.regist')}}"><span class=" glyphicon glyphicon-pencil">注册</span></a>
                    </li>
                    {% endif %}
                </ul>
            </div>

        </div>
    </nav>
    <main class="container">
        {% for message in get_flashed_messages(with_categories=True) %}
        <label class="msgbtn" data-dismiss="alert">{{message[1]}}</label>
        {% endfor %}
        {% block content %} {% endblock content %}
        {% block footer%}
        {% endblock footer %}
        <script>
            $(".msgbtn").fadeOut(3000)
        </script>
    </main>
    {% block scripts %}

    <script src="{{ url_for('static',filename='bootstrap-3.3.7/js/bootstrap.min.js') }}"></script>
    {% endblock scripts %}
</body>

</html>